* {
    font-family: "Anonymous Pro", monospace;
    margin: 0px;
    color: rgba(255, 255, 255, 0.65);
}

h1 {
    font-weight: 500;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 25px;
}

p {
    text-align: justify;
    font-size: 13px;
}

html {
    background-color: rgb(18, 14, 15);
}

body {
    padding: 75px;
    box-sizing: border-box;
}

code {
    background: #1a1a1a;
    padding: 2px 6px;
    border: 1px solid #333;
    font-size: 12px;
}

.container {
    padding: 25px;
    box-sizing: border-box;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.25);
    border-width: 1px;
    border-radius: 10px;

    background-color: rgb(24, 20, 21);
    
    flex: 1;
    height: 100%;
}

section {
    position: relative;
    margin-bottom: 80px;
}

section::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -30px;
    background-color: rgb(244, 31, 84);
    width: 100px;
    height: 2px;
}

.importantText {
    color: rgb(244, 31, 84);
    font-weight: 600;
}

footer {
    width: calc(100% + 75px + 75px);
    background-color: rgb(24, 20, 21);;
    padding: 75px;
    box-sizing: border-box;
    margin: -75px;
}