h1 {
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-size: 40;
}

h2 {
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-size: 24;
}

p {
    font-family: "Montserrat", sans-serif;
    font-weight: 250;
}

body {
    background-color: rgb(11, 4, 46);
}

#intro {
    width: 100%;
    height: 800px;
    box-sizing: border-box;
    padding: 150px;
}